body {
  font-family: 'Helvetica', sans-serif;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  display: block;
}

.wrapper {
  width: 100%;
  position: relative;
  background: #f2f3f0;
}

section {
  width: 100%;
 
  height: auto;
  text-align: center;

}

svg {
  width: 100%;
  height: 100%;
}


p,
h2 {
  padding: 0;
  margin: 0;
}

section#graph {
 
  text-align: center;
display: inline-block;
  background-color: #f2f3f0;
}

.subheadings {
  margin-bottom: 15px;
}

h3 {font-family: 'Inter', Helvetica, sans-serif;
font-size: 25px;
font-weight: 300;}


.line_color {
  stroke-width: 3px;
  stroke-linecap: round;
  vertical-align: middle;
  display: flex;
  margin-right: 5px
}

.line_color p {
  color: gray;
}

.text_graph {

  display: block;
  text-align: left;
}

.labels {
  display: flex;
}

.label {
  margin-right: 5px;
  width: 10px;
}

p {
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.tooltip {
  position: absolute;
}
.grid .tick {
  stroke: #d3d3d3 !important;
  stroke-width: 1;
  opacity: 0.5;
}

.grid path {
  stroke-width: 0;
}


.highlight {
  fill: gray;
  opacity: 0.2;
}

.annotation {
  font-weight: 500;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  fill: black;
  /* Font color */
  font-size: 13px;
  /* Font size */
}

.arrowHead {
  fill: #000;
}

@font-face {
  font-family: 'National';
  src: url('../assets/fonts/test-national-regular.woff2') format('woff2');
  font-weight: 400;
}

.credit_c {display:block;
position: relative;
text-align: left;
margin-top: 20px;
}

.credit_c p {
  font-family:'Inter', Helvetica, sans-serif ;
  color: rgb(102,102,102);
  font-size: 10px;
}


.chart-tooltip {
  line-height: 1.5;
  visibility: hidden;
  max-width: 10%;
  text-align: left;
  padding: 10px 20px;
  font-size: 110%;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  position: absolute;
  background-color: rgba(0, 0, 0, 0.55);
  pointer-events: none;
  z-index: 1060;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  border-radius: 3px;
  overflow-wrap: break-word;
}

.chart-tooltip span {
  float: none;
}

@media (max-width: 820px) {

  .chart-tooltip {max-width: 50%;}

}

.slider .handle,
.slider .line {
  position: absolute;
}

.slider .handle {
  background-image: url("https://github.com/goeuro/static_content/blob/master/web/Design/ball_indicator.svg");
  width: 40px;
  height: 40px;
  background-color: red;
  z-index: 9999999;
  position: fixed;
}

/* .axis path {
    fill: none;
    stroke: #A4CFDD;
    stroke-width: 2;
    shape-rendering: crispEdges;
  } */

.axis line {
  fill: none;
  stroke: #d8d8d8;
  stroke-width: 1;
  shape-rendering: crispEdges;
}


.x.axis line {
  display: none;
}

.x.axis text {
  fill: #000;
}

/*#92C7E2;}*/
#line1,
#line2 {
  width: 100%;
  margin: 0px 0;
  height: 280px;
  color: white;
  font-size: 12px;
  position: relative;

  z-index: 999999;
  font-family: monospace;
}



#line1 {
  overflow-y: visible;
  height: 500px;
}

#line1 path,
.cube .graph path {
  stroke-width: 1;
  fill: transparent;
  z-index: 99999;
}

/* g.tick {
    fill:#000;
  } */


.moves {
  will-change: transform;
  transform: translateZ(0);
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
}

#line1 svg#travel-chart {
  position: absolute;
  left: 0;
  max-width: 100%;
  overflow: visible;
}


.transline {
  animation: draw 8s ease-in-out forwards;
}

@keyframes draw {
  to {
    stroke-dashoffset: 0;
  }
}


/*SLIDER*/
.axis {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.domain {
  fill: none;
  stroke: #000;
  stroke-opacity: .3;
  stroke-width: 10px;
  stroke-linecap: round;
  display: none;
}


.months li {
  float: left;
  display: inline;
  margin: 0 0.5% 0 0;
}

/*end slider*/

.transportStats {
  display: inline-block;
  width: 100%;
  color: #2B84B7;
}

.transportStats li {
  background-size: 100%;
  cursor: pointer;
  z-index: 999999;
  display: inline;
  float: left;
  width: 25%;
  color: #000;
}


.transpicked {
  fill: #000 !important;
  background-color: rgba(43, 132, 183, 0.4) !important;
}

.transportStats .icon {
  width: 30px;
  height: 30px;
  background-size: 30px;
  display: inline-block;
  margin-right: 10px;
  vertical-align: middle;
}

span[data="victim"] {
  background-image: url("https://www.svgrepo.com/download/159070/bus-icon.svg");
  /*border-right:1px white solid;*/
}

span[data="incident"] {
  background-image: url("https://github.com/goeuro/static_content/blob/master/web/Design/train-icon.svg");
}


.transline#incident,
.textP {
  stroke: #fd8d3c;
  color: #fd8d3c;
}

.transline#victim,
.textB {
  stroke: crimson;
  color: crimson;
}