g .domain {
    stroke: none;
  }
  .tick line {
    stroke: none;
  }
  
  .text {
    font-size: 0.65rem;
    fill: #333333;
  }
  
  .barVisual.bar {
    fill: #8A74C2;
  }
  .bar:first-child {
    fill: #8A74C2;
  }
  .container {
    max-width: 960px;
    display: block;
    margin: 0 auto;
  }
  
  .barVisual {
    max-width: 960px;
    display: block;
    margin: 0 auto;
    font-family: "gordita", helvetica, helvetica-neue, arial, sans-serif;
  }
  
  h1 {
      font-family: Georgia,"Times New Roman",Times,serif;
      font-size: 1.5rem;
      font-weight: 500;
      color: inherit;
      line-height: 1.3;
      text-rendering: optimizelegibility;
      margin: 0;
  }
  h2 {
    font-size: 0.8125rem;
    color: #848484;
    line-height: 1.62;
    width: 100%;
    margin-top: 0;
  }
  
  p {
    font-size: 0.8125rem;
    color: #848484;
    line-height: 1.62;
    padding: 10px 2px;
    width: 100%;
  }
  
  .notes::before{
    content: "";
    display: block;
    width: 100%;
    height: 1px;
    background: #efefef;
  }
  .notes p{
    font-size: 0.5rem;
    margin: 0;
    padding: 0;
    text-align: right;
  }

  .barVisual button {
    background-color: #8A74C2; /* Color taken from your bar fill */
    color: #FFFFFF; /* White text color */
    border: none;
    border-radius: 5px; /* Rounded corners */
    padding: 10px 15px; /* Top-bottom and left-right padding */
    font-family: "gordita", helvetica, helvetica-neue, arial, sans-serif; /* Font family */
    font-size: 0.9rem; /* Font size */
    margin-right: 10px; /* Spacing between buttons */
    cursor: pointer; /* Change cursor to hand icon on hover */
    transition: background-color 0.3s; /* Transition effect */
}

.barVisual button:hover {
    background-color: #6E58A9; /* Slightly darker shade on hover */
}

.barVisual button.active {
    background-color: #6E58A9; /* Slightly darker shade for the active chart's button */
}
